<h1>Calculate the square of a number</h1>
<form action="/square/results">
  <label for="num">Enter a number</label>

  <input id="num" type="text" name="users_number">

  <button>Calculate square</button>
</form>
