<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" name="users_apr_number">

  <label for="num_yrs">Number of years</label>
  <input id="num_yrs" type="text" name="users_num_yrs_number">

  <label for="pri">Principal</label>
  <input id="pri" type="text" name="users_pri_number">

  <button>Calculate monthly payment</button>
</form>
