<form action="/random/results">
  <label for="min">Minimum</label>
  <input id="min" type="text" name="users_min_number">

  <label for="max">Maximum</label>
  <input id="max" type="text" name="users_max_number">

  <button>Pick random number</button>
</form>
